@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

* {
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2E2D2D;
}

#pageTitle {
    font-size: 8vmin;
    font-family: 'Castoro Titling', sans-serif;
    margin-bottom: -0.25vmin;
    color: white;
    margin-top: -.5vmin;
}

#rulesDetail {
    font-family: 'Castoro Titling', sans-serif;
    color: white;
}

#rulesTitle {
    margin: auto;
    padding-left: 9vmin;
    font-family: 'Castoro Titling', sans-serif;
    color: white;
}

#messageCenter {
    font-family: 'Castoro Titling', sans-serif;
    color: white;
    margin-top: 1vmin;
    margin-bottom: 2vmin;
    font-size: 2vmin;
}

#boardContainer {
    display: flex;
    flex-direction: column;
    background-color: #14BA49;
    height: 50vh;
    width: 75vw;
    border-style: groove;
    border-width: 6vmin;
    border-radius: 15%;
    border-color: #D50000;
}

#dealerHeader, #playerHeader {
    text-align: center;
    font-size: 2vmin;
    font-family: 'Castoro Titling', sans-serif;
    padding-top: 1vmin;
}

#wagerAmt {
    height: 1.5vmin;
    width: 10vmin;
    margin-top: 1.5vmin;
    margin-bottom: 1.5vmin;
}

#placeBet {
    font-size: 1.5vmin;
    width: 8vmin;
    color: white;
    background-color: #2E2D2D;
    border-radius: 15%;
    cursor: pointer;
}

#playerScoreTitle {
    display: flex;
    font-family: 'Castoro Titling', sans-serif;
    font-size: 2vmin;
    width: 30vmin;
    justify-content: center;
    margin-top: 3vmin;
    margin-left: 2vmin;
}

#playerScoreValue {
    display: flex;
    font-family: 'Castoro Titling', sans-serif;
    font-size: 3vmin;
    font-weight: bold;
    width: 30vmin;
    justify-content: center;
    margin-left: 2vmin;
}

#dealerCards, #playerCards {
    display: flex;
    justify-content: right;
    padding-right: 5vmin;
}

#dealerOne, #dealerTwo, #dealerThree, #dealerFour, #dealerFive, #dealerSix, #dealerSeven, 
#playerOne, #playerTwo, #playerThree, #playerFour, #playerFive, #playerSix, #playerSeven {
    border-width: .1vmin;
    border-radius: 10%;
    height: 15vmin;
    width: 10.8vmin;
}

#wagerInfo {
    justify-content: center;
    align-items: center;
    margin: auto;
}

#playerActions {
    margin: auto;
}

#hitButton, #standButton {
    font-size: 1.5vmin;
    margin-top: .75vmin;
    width: 8vmin;
    color: white;
    background-color: #2E2D2D;
    border-radius: 15%;
    cursor: pointer;
}

#bankrollInfo {
    margin: auto;
}

#bankrollAmt {
    margin-top: .5vmin;
    font-family: 'Castoro Titling', sans-serif;
    font-size: 2vmin;
}

#settingsHeader {
    color: white;
}